/* A custom-made stylesheet that uses *cascading, the box model, and floats is included. */
body {
  background: url(../img/backgrounds/merely-cubed.png)
}

body h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

body p, ul, ol {
  font-family: 'Libre Franklin', sans-serif;
}

@media (max-width: 768px) {
    body ul, ol, li {font-size: 12px}
    body p {font-size: 10px;}
}

@media (min-width: 768px) {
    body ul, ol, li {font-size: 16px}
    body p {font-size: 14px;}
}

.main-wrapper {
  margin: 40px;
  background-color: white;
  padding-bottom: 40px;
}
