/* A custom-made stylesheet that uses *cascading, *box model, and floats is included. */
@media (max-width: 768px) {
    body h2, h3 {text-align: center;}
    body ul, ol, li {font-size: 12px}
    body p {font-size: 12px;}
    .main-wrapper {
      margin: 20px;
      padding: 0px 34px 20px 20px;}
}

@media (min-width: 768px) {
    body ul, ol, li {font-size: 14px}
    body p {font-size: 16px;}
    .main-wrapper {
      margin: 40px;
      padding: 0px 65px 40px 40px;}
}

body {
  background: url(../img/backgrounds/merely-cubed.png)
}

body h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

body p, ul, ol {
  font-family: 'Libre Franklin', sans-serif;
}

ul {
  padding-left: 20px;
}

ul li {
  padding-bottom: 5px;
}

.main-wrapper {
  background-color: white;
}

.about-me {
  padding: 0px 15px;
}

.about-me p {
  text-align: justify;
}

.web-preview {
  width: 125px;
}
